*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900");
:root{
    --blue-color:#2cbbc3;
    /* --orange-color:#f35525; */
    --brown-color:#c19d5f;
    --orange-color:#fdc385;
    --silver-color:#a7b2b9;
    --black-color: rgba(0, 0, 0, 0.87);
    --light-color:#ffeee9;
    --light-gray:#fafafa;
    
}

html,body{
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Roboto', sans-serif;
   
    
}

















/*/////////////////////////////////////////////// navbar /////////////////////*/
 .navbar-brand i{
    color:white;font-size: 30px; background-color: rgba(0, 0, 0, 0.87); height: 50px; width: 50px;
    line-height: 50px;border-radius: 50%;text-align: center;
    box-shadow: 1px 1px 10px 2px var(--blue-color);
}



.navbar .navbar-nav .nav-link{  

color: black;
font-size: 18px;

}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover{
    color:var(--blue-color);
}

.navbar .navbar-toggler{

    color:var(--blue-color);
    font-size: 25px;
    border-color: var(--blue-color);
}
.navbar .navbar-toggler:focus{
    box-shadow: none;
}

.navbar .navbar-toggler[aria-expanded=true]{
border-color: black;
}








/*/////////////////////////////////////////////// navbar /////////////////////*/



.welcome{
   
    border-radius: 50px 50px 5px 5px !important;
   
  
   
}
.welcome h2{
    color: var(--orange-color);
   
    font-size: 2rem;
    
    
 
position: relative;
}

.div1style{
  color:#c19d5f;
  
}

.btn:hover,.btn:focus,.btn:active{
  
  box-shadow: none;

}

    

/*/////////////////////////////////////////////////////////////////////////////// 3div-pop-up start//////////////////////////////////// */
.img{
  position: relative;
  
}
.img-overlay{
  position: absolute;
  width: 100px;
  height: 100px;
  top:50%;
  left: 25px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  color: #fdc385;
  
}










.pop-img-tootip .effect span{
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  background-color: #f35525;
  padding: 10px;
}
.img-thumbnail{
  transition: .5s;

  
}

.img-thumbnail:hover{

  transform: scale(1.1,1.1);
  /* transform: rotateY(45deg); */
  transition: .5s;
  
}

/*/////////////////////////////////////////////////////////////////////////////// 3div-pop-up end//////////////////////////////////// */

/*////////////////////////////////////////////////////////////////////////////////// wide-img2 start//////////////////////////////////// */

.wide-img2{
    
position: relative;
box-shadow: 0px 1px 10px 5px silver; 
height: 500px;
background: url(../images/pet/13.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}
.wide-img2 .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.7);
   
    top: 0;
    left:0;
}
.wide-img2 .overlay button:hover,.wide-img2 .overlay button:focus,.wide-img2 .overlay button:active{
background-color: transparent !important;

 border-color: var(--blue-color) !important; 
box-shadow: none;
transition: .5s;
}


/*////////////////////////////////////////////////////////////////////////////////// wide-img2 end//////////////////////////////////// */












  
  
  






